---
# Applies the cluster-specific configuration ConfigMap before other resources
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-config
  namespace: flux-system
spec:
  interval: 1m0s
  path: ./flux/overlays/sharingio-oci
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
