---
# Cilium L2 Announcement Policy (Beta feature)
# Announces LoadBalancer IPs via L2 (ARP) on node interfaces
# See: https://docs.cilium.io/en/stable/network/l2-announcements/
#
# Note: Traffic always enters via the node advertising the VIP.
# No L2 load balancing before hitting the cluster - this can be a bottleneck
# for high traffic. For production with high traffic, consider BGP instead.
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: default
spec:
  # Match all node network interfaces
  interfaces:
    - ^eth[0-9]+
    - ^ens[0-9]+
    - ^enp[0-9]+s[0-9]+
  externalIPs: true
  loadBalancerIPs: true
  # Node selector - announce from all nodes
  # For single-node announcements, use nodeSelector to pick specific nodes
  # nodeSelector:
  #   matchLabels:
  #     node-role.ii.nz/worker: ""
---
# IP Pool for reserved cluster IPs
# Cilium LB IPAM assigns IPs from this pool to LoadBalancer services
# The IPs are substituted from the cluster-ips ConfigMap
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: cluster-reserved
spec:
  blocks:
    - cidr: ${INGRESS_IP}/32
    - cidr: ${DNS_IP}/32
    - cidr: ${WIREGUARD_IP}/32
  # Only assign these IPs to services that explicitly request them
  # via loadBalancerIP or metallb.universe.tf/loadBalancerIPs annotation
  allowFirstLastIPs: "Yes"
